* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/* Converted all header divs to nav to apply styles to nav element within the header */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Consolidated identical styles that were individual classes into a single style based on the article element, eliminating the div tag */
/* Three identical classes for the purpose of styling the individual section divs replaced with one style element for application to the article elements */
.article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Consolidated identical styles that were individual classes applied to the h2 tags into a single style based on the article element and h2 tag */
/* Three identical classes for the purpose of styling the individual section h2s replaced with one style element for application to the h2 tags w/in the article elements */
.article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Consolidated identical styles that were individual classes applied to the img tags into a single style based on the article element and img tag */
/* Three identical classes for the purpose of styling the individual section imgs replaced with one style element for application to the img tags w/in the article elements */
.article img {
    max-height: 200px;
}

/* These classes are applied to the images w/in the article elements. Moved them up to group them with other applicable article element related styles */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Consolidated identical styles that were individual classes into a single style based on the aside element, eliminating the div tag */
/* Three identical classes for the purpose of styling the individual section divs replaced with one style element for application to the aside element */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/* Consolidated identical styles that were individual classes applied to the h3 tags into a single style based on the aside element and h3 tag */
/* Three identical classes for the purpose of styling the individual section h3s replaced with one style element for application to the h3 tags w/in the aside element */
/* For integrity of design, applied an additional top margin to retain original spacing requirements */
.benefits h3 {
    margin-top: 32px;
    margin-bottom: 10px;
    text-align: center;
}

/* Consolidated identical styles that were individual classes applied to the img tags into a single style based on the aside element and img tag */
/* Three identical classes for the purpose of styling the individual section imgs replaced with one style element for application to the img tags w/in the aside element */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}